{% extends 'account/dash/base.html' %}
{% load static %}

{% block content %}

    <!-- Main content -->


        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          
          <section class="col-lg-12 connectedSortable">

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Last Posts List</h3>
    
                    <div class="card-tools">
                      <form action="" method="get">
                      <div class="input-group input-group-sm" style="width: 150px;">
                        
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
    
                        <div class="input-group-append">
                          <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                        
                        </div>
                      
                      </div>
                    </form>
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Category</th>
                          <th>Writer</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      
                        {% for post in posts %}
                        <tr>
                          
                          <td>{{post.title|truncatechars:25}}</td>
                          <td>{% for category in post.category.all %}{{ category }} {% endfor %}</td>
                          <td>{{post.writer.name}}</td>
                          <td>{{post.get_status_display}}</td>
                          <td><a target="_blank" href="{% url 'post:detail' post.slug %}">Show</a></td>
                          <td><a target="_blank" href="{% url 'account:updatepost' post.slug %}">Edit</a></td>
                          <td><a href="{% url 'account:deletepost' post.slug %}">Delete</a></td>
                        </tr>
                        {% empty %}
                        <h1>empty</h1>
                        {% endfor %}
                        
                        
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>


                
                <!-- /.card-body -->
              
                <!-- /.card -->
              </div></div></div>
           
          
          





            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Last Category List</h3>
    
                    <div class="card-tools">
                      
                    </div>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive p-0" style="height: 300px;">
                    <table class="table table-head-fixed">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Slug</th>

                        </tr>
                      </thead>
                      <tbody>
                      
                        {% for cat in cats %}
                        <tr>
                          
                          <td>{{cat.title}}</td>
                          <td>{{cat.slug}}</td>
                        </tr>
                        {% empty %}
                        <h1>empty</h1>
                        {% endfor %}
                        
                        
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>


                
                <!-- /.card-body -->
              
                <!-- /.card -->
              </div></div></div>
           
            </section>
          
          <!-- right col -->
        </div>
        <!-- /.row (main row) -->

  </div>
  {% endblock content %}
  
